<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Peli</title>

        <link rel="stylesheet" href="/public/styles/basicStyles.css">

        <script src="/socket.io/socket.io.js"></script>

        <script>
            let monsterName;
                
            <% if (monsterName) { %>
                monsterName = '<%= monsterName %>';
            <% } else { %>
                monsterName = 'grodrarth';
            <% } %>
        </script>

        <script src="/public/scripts/game.js"></script>
    </head>

    <body class="text-center">
        <p id="message-text" class="basic-message"></p>
        <!-- <h1 id="otsikko" class="basic-title">VS</h1> -->

        <canvas id="canvas" width="400" height="500"></canvas>

        <div id="move-buttons-div"></div>
        <footer>© Tekijä Joonatan Taajamaa</footer>
    </body>

</html>